body {
    color:#747704;
    margin:1em;
    bottom: 1px solid red;
}

header {
     margin-top: 30px;
}

hr {
        height: 2px;
        background-color: #bcbbbb;
 }
 .middle-img {
    width:1200px;
    height:450px;
}

.section1-img ,.section2-img,.section3-img{
    width:1200px;
    height:200px;
}
h1 {
    font-size: 60px;
}

h4 {
    font-size: 25px;
}

.col-md-10 ,h2 {
    font-family: 'Lato', sans-serif;
}

h2 {
    font-weight: 200;
    font-size: 35px;
}
.navbar {
margin: 0;
}
.row {
    display:flex;
}
.box {
    width:100%;
}
@media screen and (min-width: 550px) {
    .col-md-2 {
        width: 33.33%;
    }
    .col-md-10 {
        width: 58.33%%;
    }
}
@media screen and (max-width: 549px) {
    .col-md-2 {
        width: 50%;
    }
    .col-md-10 {
        width: 50%;
    }
    .title {
    font-size: 15px;
            }

#title-description {
    font-size: 10px;
}

}
@media screen and (max-width:250px) {
    .col-md-2 {
        width: 33.33%;
    }
    .col-md-10 {
        width: 58.33%%;
    }
    .title {
    font-size: 10px;
    font-weight: bold;
            }

#title-description {
    font-size: 5px;
    font-weight: bold;
}
.svg-icon {
    width: 10vw;
    height: 10vh;
    float:left;
}
.text-center {
    {display:block;
    margin-right:auto;
    margin-left:auto;
}